html, body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#add_btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: auto;
  z-index: 500;
  cursor:pointer;
}

.map {
  flex: 1;
  height: 100%;
  z-index: 0;
  position: relative;
  float: left;
}

#zk {
  width: 25%;
  height: 97%;
  background-color: lightblue;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-bottom: 10px;
  z-index: 10000;
  border-radius: 10px;
  border: 1px solid black;
}

#zk h2 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#zk p {
  text-align: center;
  position: relative;
  padding: 10px;
  margin: 10px;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
}

div#lst {
  position: relative;
  overflow-y: auto;
  height: 45%;
  width: 100%;
}

button#remove {
  background-color: rgb(236, 106, 106);
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  z-index: 100000;
}

div#prop input{
  width: 12%;
}

form{
  padding-left: 15px;
}